<header class="header">
    <div class="header__user-info">
        <div class="container">
            <div class="row">
                <div class="header__bar">
                    <ul class="settings">
                        <li class="language">
                            <label>Language:
                                <select name="language">
                                    <option value="-1" disabled>English</option>
                                    <option value="english">English</option>
                                </select>
                            </label>
                        </li>
                        <li class="currency">
                            <label>Language:
                                <select name="currency">
                                    <option value="-1" disabled>USD</option>
                                    <option value="usd">USD</option>
                                    <option value="eur">EUR</option>
                                </select>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="header__bar header__bar--right">
                    <ul class="header__user-info__nav">
                        <li><a href="#/account">Account</a></li>
                        <li><a href="#/wishlist">Wishlist</a></li>
                        <li><a href="#/checkout">Checkout</a></li>
                        <li><a href="#/log-in">Log In</a></li>
                        <li><a href="#/sign-up">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header__main">
        <div class="container">
            <div class="header__main__row">
                <div class="header__logo">
                    <a href="#/"><img src="app/assets/images/logo.png" alt="Site Logo"></a>
                </div>
                <div class="header__menu">
                    <ul>
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/shop/women">Women</a></li>
                        <li><a href="#/shop/men">Men</a></li>
                        <li><a href="#/shop/other">Other</a></li>
                        <li><a href="#/shop/purchase">Purchase</a></li>
                    </ul>
                </div>
                <div class="header__actions">
                    <div class="header__action header__action__search">
                        <input type="text" name="search" id="s" placeholder="Search">
                    </div>
                    <div class="header__action header__action__wishlist">
                        <a href="#/wishlist"><i class="fa fa-tags" aria-hidden="true"></i></a>
                    </div>
                    <div class="header__action header__action__wishlist">
                        <a href="#/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <span>cart ({{0}})</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</header>