<div class="home-banner">
    <!--<div class="home-banner__slider">-->
        <!--<div class="home-banner__slide" *ngFor="let slide of slider"-->
             <!--style="background-image: url( {{slide.image}} )">-->
            <!--<div class="container">-->
                <!--<div class="home-banner__slide__caption">-->
                    <!--<h3>{{slide.title}}</h3>-->
                    <!--<p>{{slide.description}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
        <slide *ngFor="let slide of slider; let index=index"
               [active]="slide.active">
            <img [src]="slide.imagePath" style="margin:auto;">

            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.description}}</p>
            </div>
        </slide>
    </carousel>
</div>

<section class="product-list">
    <div class="row">

    </div>
</section>
