.header {
    ul {
        margin: 0;
    }
    li {
        display: inline-block;
    }
    &__user-info {
        background-color: $blue;
        padding: 10px 0;
        &__nav {
            li {
                padding: 0 15px;
                &:not(:last-child) {
                    border-right: 1px solid #fff;
                }
            }
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: $main_color;
                    text-decoration: none;
                }
            }
        }
    }
    &__bar {
        float: left;
        &--right {
            float: right;
        }
    }
    &__main {
        &__row {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(center);
            padding: 30px 0;
        }
    }
    &__menu {
        li {
            margin: 0 10px;
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: $main_color;
            text-transform: uppercase;
            font-weight: 600;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                height: 1px;
                background-color: $main_color;
                width: 100%;
                max-width: 0;
                @include transition(max-width 0.3s linear);
            }
            &:hover {
                text-decoration: none;
                &:after {
                    max-width: 500px;
                }
            }
        }
    }
    &__actions {
        @include flexbox();
        @include align-items(center);
    }
    &__action {
        margin: 0 5px;
        a {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            background-color: $green;
            border-radius: 50%;
            color: #fff;
            .fa {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
            }
            &:hover {
                background-color: lighten($green, 15%);
            }
        }
        span {
            margin-left: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }
        &__search {
            input {
                outline: none;
                border: 1px solid #ccc;
                padding: 4px 10px;
            }
        }
    }
}
.settings {
    li {
        padding: 0 15px;
    }
    label {
        color: $label;
    }
    select {
        border: none;
        outline: none;
        //background-color: transparent;
        color: #fff;
        display: inline-block;
        padding: 0 15px 0 5px;
        -webkit-appearance: none;
        background: transparent url("../images/caret.png") no-repeat 100% 6px;
        option {
            color: $main_color;
            &:disabled {
                display: none;
            }
        }
    }
}