$blue : #4cb1ca;
$main_color : #656565;
$label : #bef2ff;
$green : #7db122;

$open_sanf : 'Open Sans', sans-serif;
$main_font : $open_sanf;

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1200px) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: 992px) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 768px) { @content ; }
    }
    @else if $point == phablet {
        @media (min-width: 37.5em)  { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: 37.5em)  { @content ; }

    }
}