.home-banner {
    overflow: hidden;
    &__slide {
        height: 470px;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        background-size: cover;
        @include align-items(center);
        &__caption {
            padding-left: 50px;
            color: #fff;
            h3, p {
                line-height: 1;
                padding: 10px 25px;
                text-transform: uppercase;
                background-color: rgba($main_color, 0.8);
                display: inline-block;
                float: left;
                clear: both;
            }
            h3 {
                margin-bottom: 5px;
                font-size: 3em;
            }
            p {
                font-size: 2.9em;
                font-weight: 600;
            }
        }
    }
    .slick-arrow {
        z-index: 99;
        width: 50px;
        height: 50px;
        &:before {
            font-size: 50px;
        }
    }
    .slick-prev {
        left: 10px;
        @include breakpoint(desktop) {
            left: calc(50% - 610px);
        }
    }
    .slick-next {
        right: 10px;
        @include breakpoint(desktop) {
            right: calc(50% - 610px);
        }
    }
}
.slick-initialized .home-banner {
    &__slide {
        @include flexbox();
    }
}