/***** MAIN STYLE FILE ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #656565;
  font-family: "Open Sans", sans-serif;
}

a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header ul {
  margin: 0;
}
.header li {
  display: inline-block;
}
.header__user-info {
  background-color: #4cb1ca;
  padding: 10px 0;
}
.header__user-info__nav li {
  padding: 0 15px;
}
.header__user-info__nav li:not(:last-child) {
  border-right: 1px solid #fff;
}
.header__user-info__nav a {
  color: #fff;
  text-decoration: none;
}
.header__user-info__nav a:hover {
  color: #656565;
  text-decoration: none;
}
.header__bar {
  float: left;
}
.header__bar--right {
  float: right;
}
.header__main__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -js-display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 30px 0;
}
.header__menu li {
  margin: 0 10px;
}
.header__menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #656565;
  text-transform: uppercase;
  font-weight: 600;
}
.header__menu a:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 1px;
  background-color: #656565;
  width: 100%;
  max-width: 0;
  -moz-transition: max-width 0.3s linear;
  -o-transition: max-width 0.3s linear;
  -webkit-transition: max-width 0.3s linear;
  transition: max-width 0.3s linear;
}
.header__menu a:hover {
  text-decoration: none;
}
.header__menu a:hover:after {
  max-width: 500px;
}
.header__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -js-display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__action {
  margin: 0 5px;
}
.header__action a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: #7db122;
  border-radius: 50%;
  color: #fff;
}
.header__action a .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__action a:hover {
  background-color: #a4db44;
}
.header__action span {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.header__action__search input {
  outline: none;
  border: 1px solid #ccc;
  padding: 4px 10px;
}

.settings li {
  padding: 0 15px;
}
.settings label {
  color: #bef2ff;
}
.settings select {
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
  padding: 0 15px 0 5px;
  -webkit-appearance: none;
  background: transparent url("../images/caret.png") no-repeat 100% 6px;
}
.settings select option {
  color: #656565;
}
.settings select option:disabled {
  display: none;
}

.home-banner {
  overflow: hidden;
}
.home-banner__slide {
  height: 470px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.home-banner__slide__caption {
  padding-left: 50px;
  color: #fff;
}
.home-banner__slide__caption h3, .home-banner__slide__caption p {
  line-height: 1;
  padding: 10px 25px;
  text-transform: uppercase;
  background-color: rgba(101, 101, 101, 0.8);
  display: inline-block;
  float: left;
  clear: both;
}
.home-banner__slide__caption h3 {
  margin-bottom: 5px;
  font-size: 3em;
}
.home-banner__slide__caption p {
  font-size: 2.9em;
  font-weight: 600;
}
.home-banner .slick-arrow {
  z-index: 99;
  width: 50px;
  height: 50px;
}
.home-banner .slick-arrow:before {
  font-size: 50px;
}
.home-banner .slick-prev {
  left: 10px;
}
@media (min-width: 1200px) {
  .home-banner .slick-prev {
    left: calc(50% - 610px);
  }
}
.home-banner .slick-next {
  right: 10px;
}
@media (min-width: 1200px) {
  .home-banner .slick-next {
    right: calc(50% - 610px);
  }
}

.slick-initialized .home-banner__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -js-display: flex;
}
